*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
i{
   
    margin: 0px 0px 0px 30px;
    cursor: pointer;
}
body{
    width: 100%;
    background: linear-gradient(to bottom, #00000075, #cccccc86), url('./image/World\ tree\ Yggdrasil.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
samp{
    position: absolute;
    font-family: 'loto',sans-serif;
    font-size: 16px;
    color: #fff;
    display: flex;
    margin: 0px 0px 20px 600px;
}
body header{
    width: 100%;
    display: flex;
    justify-content: space-between;
height: 70px;
color: #fff;

}
body header .left-header{
    display: flex;
   padding: 10px;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
justify-content: space-around;
}
body header .right-header{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
body header .right-header a{
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px 4px 0px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
body header .right-header a:hover{
    text-decoration: underline;
}



footer{
    background: #000000e1;
    height: 400px;
    margin: 40px 0px 0px 0px;
    font-family: 'Poppins',sans-serif;
    color: #fff;
}
.top-footer{
    height: 80px;
    background: #fefefe;
    padding: 20px 30px 30px 100px;
    display: flex;
}
.top-footer small{
    font-family: 'loto',sans-serif;
    font-size: 18px;
    color: #2c2727;

}
.top-footer button{
    margin: 0px 0px 0px 200px;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    background: #167ef2;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.top-footer button:hover{
    background: #012a58;
}
.center-footer{
    height: 270px;
    background: #2c2727;
    display: flex;
    justify-content: space-around;
}
.center-footer .left{
    padding: 20px;
    display: inline-block;
}
.center-footer .left h2{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #ccc;
}
.center-footer .left p{
    font-size: 14px;
    font-family: 'loto',sans-serif;
    color: #fff;
    padding: 5px;
}
.center-footer .cent{
    padding: 30px 30px 0px 0px;
}
.center-footer .cent p{
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
    color: #ccc;
    cursor: pointer;
}
.center-footer .cent p:hover{
    text-decoration: underline;
}
.center-footer .right{
    padding: 30px 30px 0px 0px;
}
.center-footer .right .twiter{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
.center-footer .right .twiter a{
    text-decoration: none;
    color: #ccc;
    font-family: 'loto',sans-serif;
    font-size: 13px;
    margin: 10px 0px 0px 10px;
}
.center-footer .right .twiter i{
    color: dodgerblue;
    font-size: 30px;
}
.center-footer .right .instagram{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
.center-footer .right .instagram a{
    text-decoration: none;
    color: #ccc;
    font-family: 'loto',sans-serif;
    font-size: 13px;
    margin: 10px 0px 0px 10px;
}
.center-footer .right .instagram i{
    color: rgba(248, 0, 0, 0.555);
    font-size: 30px;
}


.center-footer .right .facebook{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
.center-footer .right .facebook a{
    text-decoration: none;
    color: #ccc;
    font-family: 'loto',sans-serif;
    font-size: 13px;
    margin: 10px 0px 0px 10px;
}
.center-footer .right .facebook i{
    color: rgb(16, 16, 253);
    font-size: 30px;
}
.bottom-footer{
    height: 50px;
    background: #111111bb;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.bottom-footer p,span{
    font-family: sans-serif;
    font-size: 14px;
    color: #ccc;
    text-align: center;
    
}



menu{
    width: 100%;
    background: #fff;
}
menu .container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
menu .container .content{
    width: 20%;
    padding: 10px 0px 10px 0px;

}
menu .container .content .product{
   

}
menu .container .content button{
    border: none;
    outline: none;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    font-family: 'loto',sans-serif;
    font-size: 12px;
    background: rgba(43, 0, 33, 0.603);
    color: #fff;
    position: absolute;
    margin: 20px 0px 0px 210px;
    cursor: pointer;
}
menu .container .content .product img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
menu .container .content .product .desc{
    display: flex;
    padding: 0px 10px 10px 10px;
    justify-content: space-around;
}
menu .container .content .product .desc p{
    color: #2c2727;
    font-size: 14px;
    font-family: 'loto',sans-serif;
    padding: 4px 0px 0px 10px;
}
menu .container .content .product .desc small{
    color: #000;
    font-size: 22px;
    font-family: 'loto',sans-serif;
    padding: 4px 0px 0px 10px;
}
menu .container .content .product .desc small:hover{
    text-decoration: underline;
    cursor: pointer;
}
menu .production{
    width: 100%;
    position: absolute;
    height: 720px;
    z-index: 1;
    background: #cccccc3f;
    display: none;
}
menu .production .pro{
    width: 60%;
    margin: 50px auto;
    height: 500px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    

}
menu .production .pro .left-pro{
    width: 50%;
    height: 500px;
    border-radius: 4px;
    background: #fff;
    display: flex;
    flex-direction: column;
}
menu .production .pro .left-pro img{
    padding: 10px;
    width: 100%;
    border-radius: 20px;
}
menu .production .close{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    color: #000;
    cursor: pointer;
    position: absolute;
    margin: 30px 0px 0px 1050px;

}
menu .production .close:hover{
    background: #2c2727;
    color: #fff;
}
menu .production .close small{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 3px 0px 0px 0px;
}
menu .production .pro .left-pro small{
    color: #000;
    font-size: 30px;
    padding: 15px;
    font-family: 'loto',sans-serif;
    cursor: pointer;
}
menu .production .pro .left-pro small:hover{
    text-decoration: underline;
}
menu .production .pro .left-pro p{
    color: #2c2727;
    font-size: 18px;
    margin: 0px 0px 0px 90px;
}
menu .production .pro .desc{
    padding: 20px;
    width: 50%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    color: #000;
}




.checked{
    color: rgba(170, 170, 5, 0.87);
}
.un{
    color: #000;
}

/* responsive */
@media screen and (max-width:800px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }
    body{
        width: 100%;

    }
    body header{
        width: 100%;
        height: 70px;
        display: inline-block;
    
    }
    body header .left-header{
        display: flex;
       
    font-size: 14px;
    
    }
    body header .right-header{
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    body header .right-header a{
        font-family: sans-serif;
        font-size: 11px;
        margin: 0px 4px 0px 10px;
        cursor: pointer;
        text-decoration: none;
    }

    menu{
        width: 100%;
        background: #fff;
    }
    menu .container{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    menu .container .content{
        width: 20%;
        padding: 10px 0px 10px 0px;
    
    }
    menu .container .content button{
        border: none;
        outline: none;
        width: 40px;
        height: 20px;
        border-radius: 20px;
        font-family: 'loto',sans-serif;
        font-size: 12px;
        background: rgba(43, 0, 33, 0.603);
        color: #fff;
        position: absolute;
        margin: 10px 0px 0px 50px;
        cursor: pointer;
    }
    menu .container .content .product img{
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }
    menu .container .content .product .desc{
        flex-direction: column;
        padding: 0px 10px 10px 10px;
        justify-content: space-around;
    }
    menu .container .content .product .desc p{
        color: #2c2727;
        font-size: 9px;
        font-family: 'loto',sans-serif;
        padding: 4px 0px 0px 10px;
    }
    menu .container .content .product .desc small{
        color: #000;
        font-size: 16px;
        font-family: 'loto',sans-serif;
        padding: 4px 0px 0px 0px;
    }
    menu .container .content .product .desc small:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    











    footer{
        background: #000000e1;
        height: 250px;
        margin: 40px 0px 0px 0px;
        font-family: 'Poppins',sans-serif;
        color: #fff;
        width: 100%;
    }
    .top-footer{
        height: 80px;
        background: #fefefe;
        width: 100%;
        display: flex;
        display: none;
        
    }
    .top-footer small{
        font-family: 'loto',sans-serif;
        font-size: 12px;
        color: #2c2727;
    
    }
    .top-footer button{
        
        width: 100%;
        height: 50px;
        border: none;
        outline: none;
        background: #167ef2;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
    }
    .top-footer button:hover{
        background: #012a58;
    }
    .center-footer{
        height: 200px;
        background: #2c2727;
        display: flex;
        justify-content: space-around;
    }
    .center-footer .left{
        padding: 20px;
        display: inline-block;
    }
    .center-footer .left h2{
        font-family: sans-serif;
        font-size: 10px;
        font-weight: 600;
        color: #ccc;
    }
    .center-footer .left p{
        font-size: 8px;
        font-family: 'loto',sans-serif;
        color: #fff;
        padding: 5px;
    }
    .center-footer .cent{
        padding: 30px 30px 0px 0px;
    }
    .center-footer .cent p{
        font-family: sans-serif;
        font-size: 9px;
        padding: 5px;
        color: #ccc;
        cursor: pointer;
    }
    .center-footer .cent p:hover{
        text-decoration: underline;
    }
    .center-footer .right{
        padding: 30px 30px 0px 0px;
    }
    .center-footer .right .twiter{
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }
    .center-footer .right .twiter a{
        text-decoration: none;
        color: #ccc;
        font-family: 'loto',sans-serif;
        font-size: 13px;
        margin: 0px 0px 0px 5px;
    }
    .center-footer .right .twiter i{
        color: dodgerblue;
        font-size: 15px;
    }
    .center-footer .right .instagram{
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }
    .center-footer .right .instagram a{
        text-decoration: none;
        color: #ccc;
        font-family: 'loto',sans-serif;
        font-size: 13px;
        margin: 0px 0px 0px 5px;
    }
    .center-footer .right .instagram i{
        color: rgba(248, 0, 0, 0.555);
        font-size: 15px;
    }
    
    
    .center-footer .right .facebook{
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }
    .center-footer .right .facebook a{
        text-decoration: none;
        color: #ccc;
        font-family: 'loto',sans-serif;
        font-size: 13px;
        margin: 0px 0px 0px 5px;
    }
    .center-footer .right .facebook i{
        color: rgb(16, 16, 253);
        font-size: 15px;
    }
    .bottom-footer{
        height: 50px;
        background: #111111bb;
        padding: 20px;
        display: flex;
        justify-content: space-around;
    }
    .bottom-footer p,span{
        font-family: sans-serif;
        font-size: 10px;
        color: #ccc;
        text-align: center;
        
    }












    menu .production{
        width: 100%;
        position: absolute;
        height: 720px;
        z-index: 1;
        background: #cccccc3f;
        display: none;
    }
    menu .production .pro{
        width: 100%;
        margin: 0px auto;
        height: 1000px;
        border-radius: 4px;
        background: #fff;
        display: flex;
        flex-direction: column;
    
    }
    menu .production .pro .left-pro{
        width: 90%;
        height: 500px;
        border-radius: 4px;
        background: #fff;
        display: flex;
    }
    menu .production .pro .left-pro img{
        padding: 10px;
        width: 100%;
        border-radius: 20px;
    }
    menu .production .close{
        width: 30px;
        height: 30px;
        border-radius: 50px;
        background: #fff;
        color: #000;
        cursor: pointer;
        position: absolute;
        margin: 10px 0px 0px 380px;
    
    }
    menu .production .close:hover{
        background: #2c2727;
        color: #fff;
    }
    menu .production .close small{
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin: 3px 0px 0px 0px;
    }
    menu .production .pro .left-pro small{
        color: #000;
        font-size: 30px;
        padding: 15px;
        font-family: 'loto',sans-serif;
        cursor: pointer;
    }
    menu .production .pro .left-pro small:hover{
        text-decoration: underline;
    }
    menu .production .pro .left-pro p{
        color: #2c2727;
        font-size: 18px;
        margin: 0px 0px 0px 90px;
    }
    menu .production .pro .desc{
        padding: 20px;
        width: 100%;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        color: #000;
    }
    
}